<!DOCTYPE HTML>
<html amp lang="vn">

<head>
  <meta charset="UTF-8">
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <title>Tám Từ</title>
  <script type="text/javascript">
    document.createElement("artcle");
    document.createElement("aside");
    document.createElement("footer");
    document.createElement("header");
    document.createElement("main");
    document.createElement("nav");
    document.createElement("section");
  </script>
  <script type="application/ld+json">
  {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "Open-source framework for publishing content",
        "datePublished": "2015-10-07T12:02:41Z",
        "image": [
          "icon.png"
        ]
  }
</script>
  <link rel="canonical" href="http://example.ampproject.org/article-metadata.html">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <style amp-boilerplate>
    footer,
    header,
    section {
      display: block;
    }

    html,
    body,
    h1,
    h2,
    p,
    footer,
    header,
    section {
      padding: 0;
      margin: 0;
    }

    body {
      width: auto;
      margin-left: auto;
      margin-right: auto;
      background-color: #f0f0f0;
      font-size: 16px;
    }

    .banner {
      background-color: #11233b;
      color: white;
      padding: 10px 20px;
      font-size: 20px;
      font-weight: bold;
    }

    h3 {
      letter-spacing: 1px;
      padding: 10px 50px 5px 25px;
      text-shadow: 2px 1px red;
    }

    p {
      font-size: 18px;
      text-align: justify;
      line-height: 1.5;
      padding: 10px 50px 10px 50px;
      margin-top: 5px;
      color: #11233b;
    }

    section {
      background-color: #80ced6;
      margin-top: 10px;
      padding: 5px;
    }
    a {
      background: #4CAF50;
      border: 1px solid #4CAF50;
      color: #fff;
      border-radius: 10px;
      padding: 4px 10px;
      text-decoration: none;
    }
    a:hover {
      background: #fff;
      color: #4CAF50;
    }

    footer {
      margin-top: 10px;
      margin-bottom: 30px;
      margin-left: 100px;
      clear: both;
    }
  </style>
</head>

<body>
  <header class="banner">Tám Từ -- Giải trình</header>
  <section>
    <h3>Yếu tố của bạn</h3>
    <p>
      Phần tử đại diện cho bạn nằm trong từ đầu tiên của phần tử ngày của bạn.
      Đây là yếu tố quan trọng nhất trong tám từ.
      Nó đại diện cho những gì bạn thích, những gì tốt cho bạn và những gì xấu cho bạn.
      Năm yếu tố là: Kim, Gỗ, Nước, Lửa, Dất.
    </p>
  </section>
  <section>
    <h3>Mối quan hệ</h3>
    <p>
      Bảy từ khác đại diện cho những người xung quanh bạn.
      Các yếu tố năm đại diện cho cha mẹ của bạn.
      Các yếu tố của tháng đại diện cho anh chị em của bạn
      Từ thứ hai trong yếu tố ngày của bạn đại diện cho vợ hoặc chồng của bạn.
      Các yếu tố ngày đại diện cho con trai, con gái, học sinh của bạn hoặc bất cứ ai trẻ hơn bạn nhiều.
      Bằng cách tìm hiểu mối quan hệ giữa các yếu tố xung quanh, bạn có thể vạch ra một bức tranh
      mối quan hệ của bạn ở đâu trong cuộc sống của bạn.</p>
    <h3>Chỉ là một ví dụ:</h3>
    <p>
      Nếu yếu tố đại diện cho bạn là trái đất (yếu tố đầu tiên trong các yếu tố ngày) và yếu tố năm là lửa,
      điều đó có nghĩa là mối quan hệ yêu thích nhất trong cuộc sống của bạn đến từ cha mẹ hoặc một số người lớn tuổi.
      Vice Verse, nếu các yếu tố trong tháng là gỗ, hơn là mối quan hệ giữa bạn và
      tình anh em hoặc bạn bè của bạn có thể không tốt với bạn hoặc ít nhất là không thể giúp bạn nhiều.
    </p>
  </section>
  <p><a href="/explanation2">Tiếp tục</a></p>
  <footer>
    <p>Glorious Creation Vietnam Limited</p>
  </footer>
</body>
<html>