<!DOCTYPE HTML>
<html amp lang="vn">

<head>
  <meta charset="UTF-8">
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <title>Tám Từ</title>
  <script type="text/javascript">
    document.createElement("artcle");
    document.createElement("aside");
    document.createElement("footer");
    document.createElement("header");
    document.createElement("main");
    document.createElement("nav");
    document.createElement("section");
  </script>
  <script type="application/ld+json">
  {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "Open-source framework for publishing content",
        "datePublished": "2015-10-07T12:02:41Z",
        "image": [
          "icon.png"
        ]
  }
</script>
  <link rel="canonical" href="http://example.ampproject.org/article-metadata.html">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <style amp-boilerplate>
    footer,
    header,
    section {
      display: block;
    }

    html,
    body,
    h1,
    h2,
    p,
    footer,
    header,
    section {
      padding: 0;
      margin: 0;
    }

    body {
      width: auto;
      margin-left: auto;
      margin-right: auto;
      background-color: #f0f0f0;
      font-size: 16px;
    }

    .banner {
      background-color: #11233b;
      color: white;
      padding: 10px 20px;
      font-size: 20px;
      font-weight: bold;
    }

    h3 {
      letter-spacing: 1px;
      padding: 10px 50px 5px 25px;
      text-shadow: 2px 1px red;
    }

    p {
      font-size: 18px;
      text-align: justify;
      line-height: 1.5;
      padding: 10px 50px 10px 50px;
      margin-top: 5px;
      color: #11233b;
    }

    section {
      background-color: #80ced6;
      margin-top: 10px;
      padding: 5px;
    }
    a {
      background: #4CAF50;
      border: 1px solid #4CAF50;
      color: #fff;
      border-radius: 10px;
      padding: 4px 10px;
      text-decoration: none;
    }
    a:hover {
      background: #fff;
      color: #4CAF50;
    }

    footer {
      margin-top: 10px;
      margin-bottom: 30px;
      margin-left: 100px;
      clear: both;
    }
  </style>
</head>

<body>
  <header class="banner">Tám Từ -- Giải trình 2</header>
  <section>
    <h3>Cuộc sống năm yếu tố</h3>
    <p>
      Trong lý thuyết Tám từ, mọi thứ đại diện cho 5 yếu tố.<br />
      Màu sắc có 5 yếu tố--Nước: Xanh hoặc đen; Kim: trắng; Gỗ: xanh; Dất: vàng; Lửa: Đỏ.<br />
      Hình dạng có 5 yếu tố--Nước: Đường cong; Kim: vuông; Gỗ: Hình chữ nhật; Dất: Vòng tròn; Lửa: Tam giác.<br />
      Thức ăn có 5 yếu tố.<br />
      Âm nhạc có 5 yếu tố.<br />
      Chọn các yếu tố phù hợp có thể giúp bạn tăng cường năng lượng của bạn. <br />
    </p>
  </section>
  <section>
    <h3>Mối quan hệ của Ngũ hành</h3>
    <p>
      Cơ bản là như thế này:<br />
      Kim loại như đất nhưng ghét Lửa.<br />
      Gỗ thích nước nhưng ghét kim loại<br />
      Nước như Kim loại nhưng ghét đất.<br />
      Lửa như Gỗ nhưng ghét Nước.<br />
      Dất như Lửa nhưng ghét Gỗ.<br />
    </p>
  </section>
  <p><a href="/explanation">Trở Về</a></p>
  <footer>
    <p>Glorious Creation Vietnam Limited</p>
  </footer>
</body>
<html>